{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": null,
    "number-leading-zero" : "never",
    "selector-pseudo-element-colon-notation" : "single",
    "declaration-empty-line-before" : null
  }
}
