doctype html
html(lang='ja')
  head
    include includes/header.pug
  body
    #bst-wrap
      #hvc-wrap.top

        include includes/nav.pug
        include includes/slider.pug

        #top-wrap
          section#top-service-area
            section.wrap-outer
              .wrap-inner
                dl.title
                  dt SERVICE OVERVIEW
                  dd サービス
            section#top-service-lineup.wrap-outer
              .wrap-inner
                .top-service
                  .top-service-bloc
                    .img-box
                      a(href='#')
                        img(src='img/top/top_service_fig01.jpg', alt='service')
                    .txt-box
                      .txt-box-inner
                        h2 Fan Commerce
                        h3 ファンコマース
                        p
                          | アーティストやスポーツチームとファンをダイレクトにつなぎ、ひとりひとりのファンとのよりダイレクトなコミュニケーションを実現することで「感動体験」をビジネスに結びつけます。
                        .btn-service
                          a(href='#') 詳しく見る
                  .top-service-bloc
                    .img-box
                      a(href='#')
                        img(src='img/top/top_service_fig02.jpg', alt='service')
                    .txt-box
                      .txt-box-inner
                        h2 Digital Marketing
                        h3 デジタルマーケティング
                        p デジタルマーケティングの推進に向けた、戦略策定・WEBサイト・管理運用・システムサービスの提供などの価値ある「顧客体験」を実現する仕組みづくりを支援します。
                        .btn-service
                          a(href='#') 詳しく見る
            section.wrap-outer
              .wrap-inner
                .btn-area
                  .btn.btn-more
                    a(href='#') サービス概要をみる

          section#top-company-area.wrap-outer
            .wrap-inner
              dl.title
                dt COMPANY
                dd 会社概要
              .top-company
                .top-company-bloc
                  a(href='#')
                    .img-box
                      img(src='img/top/top_company_fig01.jpg', alt='COMPANY')
                    dl
                      dt COMPANY
                      dd 会社概要
                .top-company-bloc
                  a(href='#')
                    .img-box
                      img(src='img/top/top_company_fig02.jpg', alt='HISTORY')
                    dl
                      dt HISTORY
                      dd 沿 革
          section#top-news-area.wrap-outer
            .wrap-inner
              dl.title
                dt NEWS
                dd お知らせ
              .top-news
                .top-news-bloc
                  a(href='#')
                    .img-box
                      img(src='img/post/news_default_eyecatch.png', alt='image')
                    .txt-box
                      .txt-box-inner
                        p.date 2017.08.01
                        p.txt 引っ越しました。
                .top-news-bloc
                  a(href='#')
                    .img-box
                      img(src='img/post/news_default_eyecatch.png', alt='image')
                    .txt-box
                      .txt-box-inner
                        p.date 2017.08.01
                        p.txt
                          | ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築
                          br
                          | ・運用支援サービス開始
                .top-news-bloc
                  a(href='#')
                    .img-box
                      img(src='img/post/news_default_eyecatch.png', alt='image')
                    .txt-box
                      .txt-box-inner
                        p.date 2017.08.01
                        p.txt
                          | 引っ越しました。ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築ネット選挙解禁に向けた政党・選挙候補者向けFacebookページ構築
                .top-news-bloc
                  a(href='#')
                    .img-box
                      img(src='img/post/news_default_eyecatch.png', alt='image')
                    .txt-box
                      .txt-box-inner
                        p.date 2017.08.01
                        p.txt 引っ越しました。
              .btn-area
                .btn.btn-more
                  a(href='#') お知らせ一覧
          section#top-contact-area.wrap-outer
            .wrap-inner
              dl.title
                dt CONTACT
                dd お問い合わせ
              .top-contact
                .inner
                  h2 JoinUs!
                  p
                    | 弊社について、サービス、製品について
                    br
                    | ご質問、お問い合わせはこちらから
                  .btn-contact
                    a(href='#') お問合せはこちら
      include includes/footer.pug
